<!doctype html>
<html lang="en" data-layout="horizontal" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
  data-sidebar-image="none" data-layout-mode="dark" data-body-image="img-1" data-preloader="true">




<head>

  <meta charset="utf-8" />
  <title>Perla API Services | Mağaza</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="../assets/images/favicon.ico">

  <!-- Layout config Js -->
  <script src="../assets/js/layout.js"></script>
  <!-- Bootstrap Css -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" />
  <!-- custom Css-->
  <link href="../assets/css/custom.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

  <!-- Begin page -->
  <div id="layout-wrapper">

    <%- include('./Extras/header.ejs', { username: mongoData.Auth }) %>

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">

        <div class="page-content">
          <div class="container-fluid">

            <script>
              function getResp(buttonId) {

                if (!buttonId) return;

                window.open(`/response/${buttonId.toLowerCase()}`, '_blank');

              }

              async function buyApi(buttonId) {
                if (!buttonId) return;

                try {
                  const response = await fetch(`/magaza`, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      api: buttonId
                    })
                  });

                  const data = await response.json();
                  if (!data.success) {
                    return showAlert(data.message, "danger")
                  } else showAlert(data.message, "success", 1500);

                  return setTimeout(() => window.location.reload(), 3000);
                } catch (error) {
                  console.error('Bir hata oluştu:', error);
                }

              }

              async function sureUzat(buttonId) {
                if (!buttonId) return;

                try {
                  const response = await fetch(`/magaza`, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                      apiUzat: buttonId
                    })
                  });

                  const data = await response.json();
                  if (!data.success) {
                    return showAlert(data.message, "danger")
                  } 
                  
                  return showAlert(data.message, "success", 1500);
                } catch (error) {
                  console.error('Bir hata oluştu:', error);
                }

              }

              function showAlert(text = "Tanımlanmamış.", color = "4b38b3", duration = 3000) {
                switch (color) {
                  case "danger":
                    color = "#f06548";
                    break;
                  case "success":
                    color = "#45CB85";
                    break;
                  case "primary":
                    color = "#4b38b3";
                    break;
                  case "info":
                    color = "#3577f1";
                    break;
                  case "warning":
                    color = "#ffbe0b";
                    break;
                }
                Toastify({
                  text,
                  backgroundColor: color,
                  duration,
                  newWindow: true,
                  close: true,
                  gravity: "top",
                  position: "right",
                  stopOnFocus: true,
                  onClick: function () { }
                }).showToast();
              }

            </script>

            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0">Mağaza</h4>

                  <a style="color: #fd0000;">NOT: Her API'de günlük 1K Limit mevcuttur her gece 00.00 da yenilenir.</a>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a href="/anasayfa">Perla API Services</a></li>
                      <li class="breadcrumb-item active">Mağaza</li>
                    </ol>
                  </div>

                </div>
              </div>
            </div>
            <!-- end page title -->
            <% if (typeof mesaj !=='undefined' ) { %>
              <% } %>
                <div class="row">
                  <div class="col-xl-12">
                    <div class="card card-height-100">
                      <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">API Listesi</h4>
                        <div class="flex-shrink-0">
                        </div>
                      </div><!-- end card header -->
                      <div class="card-body">
                        <div class="table-responsive table-card">
                          <table class="table align-middle table-borderless table-centered table-nowrap mb-0">
                            <thead class="text-muted table-light">
                              <tr>
                                <th>API Adı</th>
                                <th>API İşlevi</th>
                                <th>API Fıyatı</th>
                                <th>API Çıktısı</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <% if (liste.length> 0) { %>
                                <% liste.forEach(api=> { %>
                                  <tr>
                                    <td><a class="text-primary">
                                        <%= api.name %>
                                      </a></td>
                                    <td>
                                      <%= api.description %>
                                    </td>
                                    <td><a class="text-primary">
                                        <%= Number(api.price).toLocaleString("tr-TR") %>₺
                                      </a></td>
                                    <td><button type="button" class="btn btn-soft-info waves-effect waves-light"
                                        id="<%= api.value %>" onclick="getResp('<%= api.value %>')">Tıkla</button>
                                    </td>
                                    <td>
                                      <% if (api?.owned) { %>
                                        <button type="button" class="btn btn-soft-warning" id="<%= api.value %>"
                                          onclick="sureUzat('<%= api.value %>')">Süre Uzat</button>
                                        <% } else { %>
                                          <button type="button" class="btn btn-soft-success waves-effect waves-light"
                                            id="<%= api.value %>" onclick="buyApi('<%= api.value %>')">Satın Al</button>
                                          <% } %>
                                    </td>
                                  </tr>
                                  <% }) %>
                                    <% } else { %>
                                      <tr>
                                        <td colspan="5" class="text-center">Satın alıncak bir API kalmadı.</td>
                                      </tr>
                                      <% } %>
                            </tbody><!-- end tbody -->
                          </table><!-- end table -->
                        </div><!-- end -->
                      </div><!-- end card body -->
                    </div><!-- end card -->
                  </div><!-- end col -->
                </div>
          </div><!-- end row -->
        </div>
        <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

      <%- include('./Extras/footer.ejs') %>
  </div>
  <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->



  <!--start back-to-top-->
  <button onclick="topFunction()" class="btn btn-primary btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
  </button>
  <!--end back-to-top-->

  <!--preloader-->
  <div id="preloader">
    <div id="status">
      <div class="spinner-border text-primary avatar-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>


</body>

<!-- JAVASCRIPT -->
<script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/simplebar/simplebar.min.js"></script>
<script src="../assets/libs/node-waves/waves.min.js"></script>
<script src="../assets/libs/feather-icons/feather.min.js"></script>
<script src="../assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="../assets/js/pages/notifications.init.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!-- App js -->
<script src="../assets/js/app.js"></script>


</html>